@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.each-slide{
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}